market-news.json
{"name":"Daily Market Pulse","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 13 * * 1-5"}]}},"id":"node-0","name":"Weekdays at 6am PST","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[0,300]},{"parameters":{"url":"https://finance.yahoo.com/news/rssindex"},"id":"node-1","name":"Yahoo Finance","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[240,100]},{"parameters":{"url":"https://www.investing.com/rss/news.rss"},"id":"node-2","name":"Investing.com","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[240,220]},{"parameters":{"url":"https://www.thestreet.com/rss/main.xml"},"id":"node-3","name":"TheStreet","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[240,340]},{"parameters":{"url":"https://www.fool.com/feeds/index.aspx"},"id":"node-4","name":"Motley Fool","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[240,460]},{"parameters":{"url":"https://seekingalpha.com/feed.xml"},"id":"node-5","name":"Seeking Alpha","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[240,580]},{"parameters":{"mode":"append"},"id":"node-6","name":"Merge All","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[480,340]},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"isoDate","order":"descending"}]},"options":{}},"id":"node-7","name":"Sort by Date","type":"n8n-nodes-base.sort","typeVersion":1,"position":[700,340]},{"parameters":{"maxItems":20},"id":"node-8","name":"Top 20","type":"n8n-nodes-base.limit","typeVersion":1,"position":[920,340]},{"parameters":{"jsCode":"const articles = $input.all().map((item, i) => {\n  const title = item.json.title || 'Untitled';\n  const link = item.json.link || '';\n  const raw = item.json.contentSnippet || item.json.content || item.json.summary || '';\n  const snippet = raw.replace(/<[^>]*>/g, '').trim().substring(0, 200);\n  return `${i+1}. ${title}\\n   URL: ${link}${snippet ? '\\n   ' + snippet + '...' : ''}`;\n}).join('\\n\\n');\n\nreturn [{ json: { articlesText: articles } }];"},"id":"node-9","name":"Format for AI","type":"n8n-nodes-base.code","typeVersion":2,"position":[1140,340]},{"parameters":{"promptType":"define","text":"=You are an expert financial analyst and options trading strategist. Here are today's latest market news articles:\n\n{{ $json.articlesText }}\n\nCreate a pre-market Discord briefing for an options trader. Use this exact format:\n\n**Market Sentiment:** (bullish/bearish/neutral and why in 1 sentence)\n\n**Top Catalysts Today:**\n(list 2-3 key events: earnings, Fed, economic data, geopolitical)\n\n**Sectors to Watch:**\n(which sectors are moving and why)\n\n**Stocks in Play:**\n(2-3 stocks with news that could cause big price movement - ideal for options)\n\n**Risk Factors:**\n(1-2 things that could cause unexpected volatility)\n\n*Not financial advice. Do your own research.*\n\nUse Discord markdown. Keep under 1800 characters total."},"id":"node-10","name":"AI Summarize","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1360,340]},{"parameters":{"model":"gemini-1.5-flash","options":{}},"id":"node-11","name":"Google Gemini","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1360,560]},{"parameters":{"method":"POST","url":"YOUR_DISCORD_WEBHOOK_URL_HERE","sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"content","value":"={{ '📈 **Market Pulse — ' + $now.format('MMMM D, YYYY') + '**\\n\\n' + $json.text.substring(0, 1900) }}"},{"name":"username","value":"Market Pulse Bot"}]},"options":{}},"id":"node-12","name":"Post to Discord","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1600,340]}],"connections":{"Weekdays at 6am PST":{"main":[[{"node":"Yahoo Finance","type":"main","index":0},{"node":"Investing.com","type":"main","index":0},{"node":"TheStreet","type":"main","index":0},{"node":"Motley Fool","type":"main","index":0},{"node":"Seeking Alpha","type":"main","index":0}]]},"Yahoo Finance":{"main":[[{"node":"Merge All","type":"main","index":0}]]},"Investing.com":{"main":[[{"node":"Merge All","type":"main","index":1}]]},"TheStreet":{"main":[[{"node":"Merge All","type":"main","index":2}]]},"Motley Fool":{"main":[[{"node":"Merge All","type":"main","index":3}]]},"Seeking Alpha":{"main":[[{"node":"Merge All","type":"main","index":4}]]},"Merge All":{"main":[[{"node":"Sort by Date","type":"main","index":0}]]},"Sort by Date":{"main":[[{"node":"Top 20","type":"main","index":0}]]},"Top 20":{"main":[[{"node":"Format for AI","type":"main","index":0}]]},"Format for AI":{"main":[[{"node":"AI Summarize","type":"main","index":0}]]},"AI Summarize":{"main":[[{"node":"Post to Discord","type":"main","index":0}]]},"Google Gemini":{"ai_languageModel":[[{"node":"AI Summarize","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"}}
